.list {
	width: 30rem;
	font-size: 1.2rem;
	border: 0.1rem solid black;
	&-empty {
		border: none;
		text-align: center;
		font-size: 1.5rem;
	}

	&__item {
		position: relative;
		height: 4rem;
		border-bottom: 0.1rem solid black;
		padding: 1rem;
		padding-right: 2rem;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		cursor: pointer;

		&:last-child {
			border-bottom: none;
		}

		&.selected {
			cursor: default;
			background: rgba(0, 0, 0, 0.158);
			padding: 1rem;

			&::after {
				content: '►';
				margin-left: auto;
				position: absolute;
				right: 0.5rem;
				top: 1rem;
			}
		}
	}
}
