<div class="certificate-input" (drop)="onDrop($event)" (dragend)="stopDrag($event)" (dragover)="onDragOver($event)"
  (dragleave)="stopDrag($event)" [ngClass]="isDragging ? 'file-input-hover' : ''">
  <p class="certificate-input__title">
    Перетягніть файл сертифікату сюди <br />
    aбо
  </p>

  <input type="file" id="certificate-file-btn" accept=".cer" (change)="onFileChange($event)" hidden />
  <label class="certificate-input__btn" for="certificate-file-btn">
    Виберіть через стандартний діалог
  </label>
</div>
