.certificate-input {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 30rem;
	height: 20rem;
	border: 0.1em dotted black;
	font-size: 1.3rem;

	&__title {
		text-align: center;
	}

	&__btn {
		padding: 0.5rem 2rem;
		border: 0.1rem solid black;
		border-radius: 0.3rem;
		cursor: pointer;
		text-align: center;
	}

	&-hover {
		background: rgba(0, 0, 0, 0.226);
		border: 0.1rem solid rgba(0, 0, 0, 0.5);
	}
}
