.certificate {
	display: flex;
	width: 100%;
	padding: 1rem;
	flex-wrap: wrap;

	&-side {
		display: flex;
		width: 50%;
		min-width: 30rem;
		flex-direction: column;
		align-items: center;
		gap: 2rem;

		&__button {
			cursor: pointer;
			width: 12rem;
      font-size: 1.5rem;
			border: 0.1rem solid black;
			padding: 1rem;
			border-radius: 0.3rem;
		}
	}
}
